@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Rubik', sans-serif;
    -webkit-tap-highlight-color: transparent;

}

html{

    scroll-behavior: smooth;
    @apply bg-gray-50
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.bg-pattern-repeat{
    background: url('https://s3-0222ftc1-grupo2-frontend.s3.us-east-2.amazonaws.com/logo/logo_md_variant_outline_violet_500.svg') repeat repeat;
    background-position: bottom 50% left calc(50% + 300px);
    background-size: auto 150px
}

