@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Rubik', sans-serif;
    -webkit-tap-highlight-color: transparent;

}

html{

    scroll-behavior: smooth;
    @apply bg-gray-50
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

